<li>
	<h2 class="post_title"><%= blogpost.blog_title %></h2> <span class="post_date">Posted on <%= blogpost.created_at.strftime("%-m/%e/%Y") %></span>
	<% if admin? %>
		<div class="settings_trigger pos_fr pos_rel">
			<%= image_tag "settings.png", id: "#{blogpost}", class: "pos_fr" %>
			<div class="post_settings">
				<%= link_to "Edit", edit_blogpost_path(blogpost) %>
				<%= link_to "Delete", blogpost, method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %>
			</div>
		</div>
	<% end %>
	<hr />
	<div class="blog_content">
		<%= truncate_html(blogpost.content.gsub(/\n/, '<br />').html_safe, length: 800) %>
		<br>
		<%= link_to "Read more", blogpost, class: "pos_fr" %>
	</div>
</li>