<% provide(:title, "New Blog post") %>
<h1>New Blog entry</h1><br><br>
<p>To add a line break, enter a <%= p('<br>') %> tag.</p>
<p>To make something bold, use <%= p('<b></b>') %> tags around it (i.e. <%= p('<b>This text is bold</b>') %>).
<br><br>
<%= form_for(@blogpost) do |f| %>
	
	<%= f.label :title %><br>
	<%= f.text_field :title, class: "blog_title_field" %><br><br>
	
	<%= f.label :content %><br>
	<%= f.text_area :content, class: "blog_content_field" %><br><br>

	<%= f.submit "Post" %>
	
<% end %>