<h1 class="inline">Curtis Cooper - </h1>
<span class="sub_heading">Drum Instructor, Music Teacher, Composer, Author, Performer</span>
<section>
	<div class="mt30">
	<%= image_tag @curtis_pic_1, class: "pos_fr about_image ml15" %>

	<p>Curtis received his Bachelor of Music Education Degree from Sonoma State in 2005. He has a teaching credential in California, and an Oregon State Teaching License.</p>

	<p>He is the author of several books including: Chops Busters for the Snare Drum, Progressive Reading, Solo Music for the Snare Drum, Complete Studies for the Drum Set Vol. I and II, and The Hand Drum Hand Book. He has written 6 award winning percussion ensembles, and has taught percussion ensembles at Cupertino High School, Lynbrook High School, Santa Rosa Jr. College and Sonoma State. He has worked with the Cotati Philharmonic, Ukiah Symphony Orchestra, Palo Alto Symphony Orchestra, and was principal percussionist for 14 years with the San Jose Municipal Band. He has been musical director at the Raven Theater in Healdsburg , CA, and Choir Director at Church of Divine Man in Berkeley and Santa Rosa, CA.</p>
	<br>

	<p>Before moving to Santa Rosa in 2001, Curtis played in casual, club and touring bands playing all styles of Rock, Jazz, Country, Blues, and Top 40. He has been working in recording studios since 1978, as a drummer, engineer, and producer. Since 2001 he has been playing Musical Theater as a percussionist and a drum set player.</p>
	<br>

	<p>Curtis currently plays Percussion with the Lake Oswego Millennium Concert Band. He can also be seen playing drum set with the Randy Heddon Jazz Trio <%= link_to "http://youtu.be/lHE_llV6Yvc", "http://youtu.be/lHE_llV6Yvc", title: "Randy Heddon Jazz Trio on YouTube" %> in some of Portland's finer restaurants and jazz clubs. He also plays drum set for Blackbird. Blackbird plays a variety of music from the 50's, 60's and 70's with an emphasis on The Beatles. They are available for weddings, anniversaries, corporate parties, festivals and other "society events". For information on Blackbird go to: 
		<% link_to "http://www.blackbirdband.net", "www.blackbirdband.net", title: "Blackbird Official Website" %></p>
	<br>

	<%= image_tag @curtis_pic_2, class: "pos_fl about_image mr15" %>

	<p>Curtis Cooper Is a master percussionist and drummer, who recently relocated to Portland, OR from the San Francisco Bay Area. He has been performing since age 11, when he began marching with Drum and Bugle Corps. At age 15 he joined his first professional band. After he began teaching drum line and a few private students, he was hired in 1972 as a private drum teacher by the Yamaha School at Stevens Music in Cupertino, CA. He has been teaching and performing now for over 40 years. Many of his students have won competitions at county, state, national and international levels. Many of his students have gone on to become professional players as well. "Its nice to see so many of my students do so well, but for most of my students the goal is not always to become a full time musician. Most students simply want to learn for fun, and many parents simply want their children to enhance their education with music. I have also had many students, young and old, who use music as a form of therapy, or a healthy escape from stress."</p>
	<br>

	<p>"Whatever the needs, or goals of my students are, I try my best to help everyone achieve their goals as quickly as possible, with the least amount of effort. By this I don't mean that it won't be easy, or you don't need to practice, what I mean is that it can take much much longer to achieve your goals without proper guidance than it will with well organized lessons. One of the topics that I specialize in is technique. With proper technique playing drums becomes easy, and eventually effortless. With poor technique, you will always work hard to play songs or jam, and you will always have that stiff, unprofessional sound. If doing something is difficult, it isn't fun and it becomes easy to give up. But when playing is easy, it is fun, and you want to play more and more, which is why this aspect of music lessons is so important."</p>
	<br>

	<%= image_tag @curtis_pic_3, class: "pos_fr about_image ml15" %>

	<p>Since 2004 Curtis has been teaching band at public, private, and charter schools in Sonoma and Marin Counties. He is trained in Orff Music, and uses this style when teaching general music in elementary schools and preschools. In 2009 Curtis had a long term substitute position at Twin Hills Middle School, when the band director needed a leave of absence. Pictured is the Christmas Concert that was the culmination of that assignment. "Parents and students both where thrilled that we could do so well with a substitute teacher."</p>
	<br>

	<p>"Mr. Cooper" is the music teacher at Carden Cascade Academy, a private school in Hillsboro, OR. He teaches all grades from Jr. Kindergarten through Jr High.</p>
	<br>

	<h2>Music lessons: more than just drums</h2>
	<%= image_tag @curtis_pic_4, class: "pos_fl about_image mr15" %>

	<p>Curtis uses other instruments such as guitar, bass and keyboards to enhance the drum lessons. "My playing and singing songs while the students learn/play the drum parts, gives them a sense of playing live. It helps them see where all the exercises and little things they learn is heading, and helps them understand their role in a band situation." He also teaches many other instruments from beginning to intermediate levels, including: guitar, bass, flute, clarinet, saxophone, trumpet, trombone, baritone, french horn. During the 1990's Curtis worked with Mark Wilson, owner of Sunnyvale Guitar School, and Five Star Music. Together they recorded dozens of tapes and CD's for music education purposes. They developed a program which included bringing students to their live performances, to sit in, play, and demonstrate what they had learned in their lessons and workshops. Similar to a recital, or school performance. This program will also be incorporated into Curtis' new music school, in Aloha. As students progress they will soon be able to participate in performance workshops at the school, and eventually we will take them to live venues. Not only is it an educational experience, is it a true reward for all the hard work students put into their music.</p>
	<br><br>

	<%= image_tag @curtis_pic_5, class: "pos_fr about_image ml15" %>

	<h2>Curtis on teaching music:</h2>
	<p>One of the greatest joys in life is seeing the expression on a child's face when they discover that they can make music. I believe that music is an important part of every child's life, and the sooner we introduce music to young students, the better. Unfortunately, some schools do not begin music until 4th or 5th grade. And fortunately there are still schools that begin music class in kindergarten. As an educator, I want to reach as many students as possible, and one way to achieve this goal is to open up music classes to a broader age range. In my desire to "teach the world to sing" I have expanded my classes to include the young and very young. So I am also available to teach at preschools through out Washington County and the greater Portland area. I have found that working with very young children is fun and rewarding. This is the time when we as humans are working with a fresh, clean slate. We have no preconceptions, and no bias, or attitudes. It is amazing how much we can grasp and absorb at this age. And through learning music, our cognitive skills develop faster.</p>
	</div>
</section>
