<section>
	<h1>Video Lessons</h1>
	<p>Online Drum Teacher offers both free and premium level video lessons. Please head over to the <%= link_to "Video Lessons page", "", title: "Video Lessons page" %> to view them now.</p>
</section>
<section>
	<h1>Written Lessons</h1>
	<p>Online Drum Teacher offers written lessons for you to expand your abilities. Visit the <%= link_to "Written Lessons page", "", title: "Written Lessons page" %> to start reading them.</p>
</section>
<section>
	<h1>Webcam Lessons</h1>
	<p>Curtis is available for webcam lessons via <%= link_to "Skype", "http://www.skype.com", title: "Skype", target: "_blank" %>, <%= link_to "Face Time", "http://www.apple.com/mac/facetime", title: "Face Time", target: "_blank" %> and <%= link_to "ooVoo", "http://www.oovoo.com", title: "ooVoo", target: "_blank" %> at the 
		following rates:</p>

	<table class="rates_table">
		<thead>
			<tr>
				<th>Frequency</th>
				<th>Rate</th>
				<th>Detail</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>One-time consultation</td>
				<td>$30</td>
				<td>30-minute lesson</td>
			</tr>
			<tr>
				<td>One-time consultation</td>
				<td>$50</td>
				<td>1-hour lesson</td>
			</tr>
			<tr>
				<td>Weekly lessons</td>
				<td>$80/month</td>
				<td>(4) 30-minute lessons per month</td>
			</tr>
			<tr>
				<td>Weekly lessons</td>
				<td>$120/month</td>
				<td>(4) 45-minute lessons per month</td>
			</tr>
			<tr>
				<td>Weekly lessons</td>
				<td>$150/month</td>
				<td>(4) 1-hour lessons per month</td>
			</tr>
		</tbody>
	</table>
</section>
<section>
	<h1>In-person Lessons</h1>+
	<p>Curtis is available for in-person lessons at his residence in Aloha, Oregon or yours at the following rates:</p>

	<table class="rates_table">
		<thead>
			<tr>
				<th>Level</th>
				<th>Rate</th>
				<th>Detail</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Professional/Very advanced</td>
				<td>$50/hour</td>
				<td>1-hour lesson</td>
			</tr>
			<tr>
				<td>Beginner to Advanced</td>
				<td>$80/month</td>
				<td>(4) 30-minute lessons per month</td>
			</tr>
			<tr>
				<td>Basic</td>
				<td>$120/month</td>
				<td>(4) 45-minute lessons per month (ages 14 & up)</td>
			</tr>
		</tbody>
	</table>
	<p>If you would like to inquire about webcam lessons with Curtis, please visit the <%= link_to "Contact", "", title: "Contact" %> page.
</section>