<tr class="<%= cycle('odd', 'even') %>">
	<td><%= link_to user.name, user %></td>
	<td>
		<% if current_user.admin? %>
			<% if user.premium %>
				Premium Account (<%= link_to "Make account basic", user_path(user, premium: true), method: :put %>)
			<% elsif user.admin %>
				Admin
			<% else %>
				Basic Account (<%= link_to "Make account premium", user_path(user, premium: true), method: :put %>)
			<% end %>
		<% end %>
	</td>
	<td>
		<% if current_user.admin? && !current_user?(user) %>
			<%= link_to "Delete", user, method: :delete, data: { confirm: "Are you sure?" } %>
		<% end %>
	</td>
</tr>