<% provide(:title, "Sign up") %>
<h1>Sign up</h1>

<%= form_for(@user) do |f| %>

	<%= render 'shared/error_messages' %>
	<%= f.label :name %><br>
	<%= f.text_field :name, id: "signup_name"  %>
	<br><br>

	<%= f.label :email %><br>
	<%= f.text_field :email, id: "signup_email"  %>
	<br><br>

	<%= f.label :password %><br>
	<%= f.password_field :password, id: "signup_password" %>
	<br><br>

	<%= f.label :password_confirmation, "Re-type password" %><br>
	<%= f.password_field :password_confirmation, id: "signup_confirmation" %>
	<br><br>

	<%= f.submit "Create my account" %>

<% end %>
