<section>
	<div id="slideshow">
		<div id="slide_1" class="slide">
			<h1>OnlineDrumTeacher</h1>
			Learn how to play the drums from an accomplished musician through the internet. Grow your skills through the use of:
			<ul>
				<li>Video Lessons</li>
				<li>Written Lessons</li>
				<li>Frequent Blog Posts</li>
				<li>Webcam Lessons</li>
			</ul>
		</div>
	</div>
</section>
<section>
	<h1 class="mt30">First time here?</h1>
	<p>Online Drum Teacher is a learning resource for aspiring drummers and advanced drummers alike. We're excited to bring you written lessons, video lessons and a regularly updated blog all for free!</p>
	<p>For those who are looking to take the next step in advancing their percussion abilities, we offer premium content to members of the site. A large collection of videos and written lessons are available only to members.</p>
	<p>Check out the store page to purchase Curtis Cooper's books and visit the webcam lessons page to learn more about 1 on 1 lessons with Curtis via Skype, oovoo, etc.</p>
</section>
<section>
	<h1 class="mt30">Get started</h1>
</section>
<section>
	<div class="widget blog">
		<div class="category_title">
			<%= link_to "Blog", blogposts_path, class: "cat_box_blog" %>
		</div>
		<ul class="category_box">
			<%= @test %>
			<% if @blogposts.present? %>
				<% @blogposts.each_with_index do |blogpost, index| %>
					<% if index < 3 %>
						<li>
							<%= link_to(blogpost) do  %>
								<span class='link_title'><%= truncate_html(blogpost.title, length: 35) %></span>
								<span class='date_added'><%= blogpost.created_at.strftime("%-m/%e/%Y") %></span>
								<br>
								<p><%= truncate_html(blogpost.content, length: 100) %></p>
							<% end %>
						</li>
					<% end %>
				<% end %>
				<%= link_to "View All", blogposts_path, class: "view_all" %>
			<% else %>
				There are no blog entries.
			<% end %>
		</ul>
	</div>
	<div class="widget lesson">
		<div class="category_title">
			<%= link_to "Lessons", video_lessons_path, class: "cat_box_lesson" %>
		</div>
		<ul class="category_box">
			<% if @video_lessons.present? %>
				<% @video_lessons.each_with_index do |video_lesson, index| %>
					<% if index < 3 %>
						<li>
							<%= link_to(video_lesson) do  %>
								<span class='link_title'><%= truncate_html(video_lesson.title, length: 35) %></span>
								<span class='date_added'><%= video_lesson.created_at.strftime("%-m/%e/%Y") %></span>
								<br>
								<p><%= truncate_html(video_lesson.description, length: 100) %></p>
							<% end %>
						</li>
					<% end %>
				<% end %>
				<%= link_to "View All", video_lessons_path, class: "view_all" %>
			<% else %>
				There are no video lessons.
			<% end %>
		</ul>
	</div>
	<div class="widget news">
		<div class="category_title">
			<%= link_to "News", news_items_path, class: "cat_box_news" %>
		</div>
		<ul class="category_box">
			<% if @news_items.present? %>
				<% @news_items.each_with_index do |news_item, index| %>
					<% if index < 3 %>
						<li>
							<%= link_to(news_item) do  %>
								<span class='link_title'><%= truncate_html(news_item.title, length: 35) %></span>
								<span class='date_added'><%= news_item.created_at.strftime("%-m/%e/%Y") %></span>
								<br>
								<p><%= truncate_html(news_item.content, length: 100) %></p>
							<% end %>
						</li>
					<% end %>
				<% end %>
				<%= link_to "View All", news_items_path, class: "view_all" %>
			<% else %>
				There are no news items.
			<% end %>
		</ul>
	</div>
	<div class="clear"></div>
</section>

