<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @video_lesson.title %>
</p>

<p>
  <b>Description:</b>
  <%= @video_lesson.description %>
</p>

<p>
	<%= link_to @video_lesson.title, video.video_url.to_s %>


<%= link_to 'Edit', edit_video_lesson_path(@video_lesson) %> |
<%= link_to 'Back', video_lessons_path %>
