<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @video_lesson.title %>
</p>

<p>
  <b>Description:</b>
  <%= @video_lesson.description %>
</p>

<p>
  <%= video_tag([@mp4_video_url, @ogg_video_url], controls: true) %>
</p>
<br><br>
<%= link_to 'Edit', edit_video_lesson_path(@video_lesson) %> |
<%= link_to 'Back', video_lessons_path %>
