<!DOCTYPE html>
<html>
<head>
  <title>Online Drum Teacher | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<%= link_to root_path do %>
			<div class="odt_home_link">Drum Teacher</div>
		<% end %>
		<div id="signin_container">
		</div>
		<div class="pos_fr">
			<% if signed_in? %>
				<div id="welcome_message">
					<span>Welcome,</span> <%= current_user.name %>
				</div>
			<% end %>
			<div class="clear"></div>
			<ul class="top_nav">
				<li class="top_level"><%= link_to "home", root_path %></li>
				<li class="top_level"><%= link_to "about", about_path %></li>
				<li class="top_level"><%= link_to "lessons", lessons_path %></li>
				<li class="top_level"><%= link_to "blog", blogposts_path %></li>
				<li class="top_level"><%= link_to "news", news_items_path %></li>
				<% if signed_in? %>
					<% if admin? %>
						<li class="top_level"><%= link_to "users", users_path %></li>
					<% end %>
					<li class="pos_rel top_level has_submenu">
						my account
						<ul class="sub_menu">
							<li class="second_level"><%=link_to "Profile", user_path(current_user) %></li>
							<li class="second_level"><%=link_to "Settings", edit_user_path(current_user) %></li>
							<li class="second_level"><%=link_to "Sign Out", signout_path, method: "delete" %></li>
						</ul>
					</li>
				<% else %>
					<li class="top_level"><%= link_to "sign in", signin_path %></li>
					<li class="top_level"><%= link_to "sign up", new_user_path %></li>
				<% end %>
			</ul>
		</div>
	</header>

	<div class="centered_content">
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
		<%= yield %>
		<div id="push"></div>
	</div>
	<div id="footer">
		<div id="footer_image">
			<div class="footer_content">
				<div class="footer_section">
					<h1>Get around...</h1>
					<ul>
						<li><%= link_to "Home", root_path %></li>
						<li><%= link_to "About", about_path %></li>
						<li><%= link_to "Lessons", lessons_path %></li>
						<li><%= link_to "Blog", blogposts_path %></li>
						<% if signed_in? %>
							<li><%= link_to "Users", users_path %></li>
							<li><%= link_to "Profile", user_path(current_user) %></li>
							<li><%= link_to "Settings", edit_user_path(current_user) %></li>
							<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
						<% else %>
							<li><%= link_to "Sign in", signin_path %></li>
						<% end %>
					</ul>
				</div>
				<div class="footer_section">
					<h1>Socialize...</h1>
					<%= link_to image_tag('facebook_fix.png'), "", class: "social_media" %>
					<%= link_to image_tag('twitter.png'), "", class: "social_media" %>
					<%= link_to image_tag('youtube.png'), "", class: "social_media" %>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
