<!DOCTYPE html>
<html>
<head>
  <title>Online Drum Teacher | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<%= link_to "ODT", root_path %>
		<div id="signin_container">
		</div>
		<div class="clear"></div>
		<ul class="top_nav">
			<li><%= link_to "home", root_path %></li>
			<li><%= link_to "about", about_path %></li>
			<li><%= link_to "lessons", lessons_path %></li>
			<li><%= link_to "blog", blogposts_path %></li>
			<% if signed_in? %>
				<li><%= link_to "users", users_path %></li>
				<li><%= link_to "profile", user_path(current_user) %></li>
				<li><%= link_to "settings", edit_user_path(current_user) %></li>
				<li><%= link_to "sign out", signout_path, method: "delete" %></li>
			<% else %>
				<li><%= link_to "sign in", signin_path %></li>
			<% end %>
		</ul>
	</header>

	<section>
		<div class="centered_content">
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>
			<%= yield %>
			<div id="push"></div>
		</div>
	</section>
	<footer>
		links
	</footer>
</body>
</html>
